body
{
<<<<<<< HEAD
    color: blue;
=======
    color: #333;
>>>>>>> e0737c1 (mejoras en el mensaje y cambio de color de estilo)
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{

<<<<<<< HEAD
     background: #37488b;
=======
     background: #33A ;
>>>>>>> e0737c1 (mejoras en el mensaje y cambio de color de estilo)
     box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
     color: white;
     font-weight: bold;
     margin: 0;
     padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo 
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
<<<<<<< HEAD
    background: white;
    padding: 1em;
=======
    padding: 1em;
}

#footer
{
    background: #777;
    color:white;
    text-align: center;
    padding: 0.5em;
>>>>>>> e0737c1 (mejoras en el mensaje y cambio de color de estilo)
}